[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vulkan-ValidationLayers"]
	path = Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
